@import "./material-components-web.min.css";

body {
  margin: 0;
  --mdc-theme-primary: #263238;
  --mdc-theme-secondary: #e65100;
}

/* Top App Bar Styles */

.custom-top-app-bar-section {
  flex-grow: 0;
  margin: auto;
  padding: 0;
  height: 100%;
  width: 70%;
  justify-content: space-between;
}

.custom-top-app-bar-logo {
  height: 100%;
  display: table-cell;
  box-sizing: border-box;
}

.custom-top-app-bar-button {
  color: #ffffff !important;
  font-size: 1rem;
}

/* Main Section Styles */

.main {
}

.splash {
  position: absolute;
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  align-items: center;
  background: linear-gradient(#ef6c00ce, #78909cce),
    url("http://www.umbc.och101.com/shared/images/backgrounds/UMBC.jpg")
      no-repeat center;
}

.splash-container {
  padding-left: 10em;
  height: max-content;
}

.splash-title1,
.splash-title2 {
  display: block;
  color: #ffffff;
}
.splash-title1 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 0;
}
.splash-title2 {
  line-height: 1rem;
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 2em;
  letter-spacing: 0.9rem;
  word-spacing: 1em;
}

.splash-button {
}
