html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.img-logo {
	width: 18em;
	margin-top: 0;
	padding: 0;
}

.bottom30{
  margin-bottom: 30px;
}

@media (min-width: 768px) {
.buttongroup{
  width:30%;

}
}

#faq h3{
  margin-bottom:10px;
}

.simple {
  margin: 0 !important;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
}
h3{
	margin: 0;
}
.otto {
  color: white;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
.sub {
	color: rgba(255,255,255,0.9);

	font-size: 2em;
  font-weight: 300;
}
.faded {
	color: rgba(255,255,255,0.9);
	margin: 0;
}
.paragraph {
	font-size: 2em;
}
.inspiration {
	padding: 2em;
	font-size: 1.5em;
}
.lg-icon {
	font-size: 2em;
	margin-right: 0.2em;
	color: rgb(224,228,198);
}
.show-inline {
	display: inline-block;
}
.stats {
	padding: 0.5em;
}
.question {
	font-size: 1.4em;
	color: rgb(224,228,198);
}
.np-padding {
	padding-left: 3em;
	padding-right: 3em;
	line-height:2.2em;
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 1.8em;
}
.head a:link{
	text-decoration: underline;
	color: #ffffff !important;
}
.head a:visited{
	text-decoration: underline;
	color: #ffffff !important;
}
.head a:hover{
	text-decoration: none;
	color: #ffffff !important;
}
.head a:active{
	text-decoration: underline;
	color: #ffffff !important;
}
#particles-js canvas{
    position: absolute;
    top:0;
  right:0;
  bottom:0;
  left:0;
    z-index: -1;
}
#overlay{
	position: relative;
}
