/*
buttons
*/

/*For header section*/
#header-date {
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 0;
}

#header-year {
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 50px;
}

#header-location {
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#header-apply {
  z-index: 11;
  margin: 0 !important;
  display: block;
  background: transparent;
  background-position: center;
  border: 2px white solid;
  padding: 20px 50px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 50px auto;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  outline-style:none;
  transform: scale(1);
  transition: .2s background-color ease-out, .2s color ease-out, .2s transform ease-out;

}

#header-apply:hover {
  background: white radial-gradient(circle, transparent 1%, #d6d6d6 1%) center/15000%;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  color: #343a40;
  transform: scale(1.125);
  transition: .2s background-color ease-out, .2s color ease-out, .2s transform ease-out;
}
#header-apply:active {
  background-color: #d6d6d6;
  background-size: 100%;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  transition: background 0s;
}
.header-container {
  display: block;
  align-content: right;
}

#header-volunteer {
  z-index: 11;
  margin: 0 !important;
  margin-left: 20px !important;
  margin-bottom: 6px !important;
  display: inline-block !important;
  background: transparent;
  background-position: center;
  border: 2px white solid;
  padding: 20px 50px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 50px auto;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  outline-style:none;
  transform: scale(1);
  transition: .2s background-color ease-out, .2s color ease-out, .2s transform ease-out;
}
#header-volunteer:hover {
  background: white radial-gradient(circle, transparent 1%, #d6d6d6 1%) center/15000%;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  color: #343a40;
  transform: scale(1.125);
  transition: .2s background-color ease-out, .2s color ease-out, .2s transform ease-out;
}
#header-volunteer:active {
  background-color: #d6d6d6;
  background-size: 100%;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  transition: background 0s;
}

#header-mentor {
  z-index: 11;
  margin: 0 !important;
  display: block;
  background: transparent;
  background-position: center;
  border: 2px white solid;
  padding: 20px 50px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 50px auto;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  outline-style:none;
  transform: scale(1);
  transition: .2s background-color ease-out, .2s color ease-out, .2s transform ease-out;

}

#header-mentor:hover {
  background: white radial-gradient(circle, transparent 1%, #d6d6d6 1%) center/15000%;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  color: #343a40;
  transform: scale(1.125);
  transition: .2s background-color ease-out, .2s color ease-out, .2s transform ease-out;
}
#header-mentor:active {
  background-color: #d6d6d6;
  background-size: 100%;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  transition: background 0s;
}


@media only screen and (max-width: 800px) {
  #header-volunteer {
    font-size: 13px;
    padding: 20px 45px;
  }

  #header-mentor {
    font-size: 12px;
    padding: 20px 42px;
  }

}

}