/*
faq
*/

/* FAQ Section */
.faq-background .card {
  background: transparent;
  border: none;
  font-size: 1.5em;
}

.card-header {
  padding-left: 0;
  padding-right: 0;
  border: none;
  background: inherit;
  cursor: pointer;
  overflow: hidden;
}

.faq-background .card-header button {
  color: #404040;
  font-weight: 600;
  font-size: 2rem;
  white-space: normal;
  text-align: inherit;
}

.card-header button {
  text-decoration: none !important;
  color: #404040 !important;
}

.card-header .fa {
  color: #404040;
  font-size: 110%;
  margin: 0 0.25em;
}

#accordion .card-header i.fa {
  -webkit-transition: all 500ms cubic-bezier(0.075, 0.05, 0.165, 0.9);
  transition: all 500ms cubic-bezier(0.075, 0.05, 0.165, 0.9);
}

.rotate-up {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate-down {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transform: rotate(-180deg);
  transition-duration: 0.2s;
}

.faq-background .content {
  color: #404040;
}

.faq-background a {
  color: #404040;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
}
.faq-background a:hover {
  text-decoration: underline;
}

.faq-background {
  background-image: linear-gradient(#e5e1dfce, #e5e1dfce),
    url("../img/tile-bg@2x.png");
  /*background-color: #E5E1DF;*/
  margin: 0 auto;
  min-height: 40%;
  padding-top: 100px;
  padding-bottom: 100px;
}

/*Edits for mobile site*/
@media only screen and (max-width: 800px) {
  .card-body {
    font-size: 1em;
  }
  .collapsed {
    font-size: 12px;
  }
  .expanded {
    font-size: 12px;
  }
  .content {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }
  #header-apply {
    font-size: 14px;
  }
  .faq-background .card-header button {
    font-size: 1.25em;
    word-wrap: normal;
  }
  .faq-background .card-body a {
    font-size: 0.9em;
  }
  .section-footer {
    font-size: 35px;
  }
  /*#footer .fa {
    height: 60px;
    width: 60px !important;
    padding: 15px !important;
  }*/
}

/*Live site (Social Media)*/

/*Twitter API*/
.twitter-timeline {
  max-width: 100%;
  max-height: 30% !important;
}
.panel-title {
 font-size: 25px; 
 color: #FFFFFF;
 font-family: 'Open Sans', sans-serif;
}
.panel-heading {
 background-color: #1da1f2 !important;
 color: #1da1f2 !important;;
}
.panel {
 margin-top: 25px;
}
.tlContainer {
  height: 100px;
}
/*End of Twitter Api*/