/*This is for sponsors background*/
.sponsors-background {
  /*background-image: url("../img/HackUMBC.White.Pattern.png");*/
  /*background-color: white;*/
  background-image: linear-gradient(#ffffffce, #ffffffce),
    url("../img/tile-bg@2x.png");
  margin: 0 auto;
  min-height: 40%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.sponsors {
  text-align: left;
  margin: 20px 0;
}

.sponsors-background p {
  font-size: 1.5em;
  line-height: 40px;
  color: #404040;
}
/*Hovering animations*/
.col-sm-4 {
  transition: ease .3s;
}
.col-sm-4:hover {
  opacity: .8;
  transition: ease .3s;
}
.col-sm-7 {
  transition: ease .3s;
}
.col-sm-7:hover {
  opacity: .8;
  transition: ease .3s;
}
.col-sm-5 {
  transition: ease .3s;
}
.col-sm-5:hover {
  opacity: .8;
  transition: ease .3s;
}
.cl-effect-3 {
  text-align: center;
}
/*Sponsor Logo specifications*/
.fdmLogo{
  max-width: 200px;
}
.northropLogo{
  max-width: 400px;
}
.TRoweLogo {
    max-width: 500px;
  }
.portLogo {
    max-width: 240px;
  }
.BoozLogo {
  max-width: 500px;
}
.leidosLogo {
    left: 10px;
    max-width: 330px;
  }
.wellerLogo {
  max-width: 170px;
}
.nsaLogo {
    max-width: 250px;
  }
.clearLogo {
  max-width: 270px;
}
.aplLogo {
  max-width: 270px;
}
.generalLogo {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 400px;
}
.freedomLogo {
  max-width: 270px;
}
.jpMorganLogo {
  max-width: 300px;
}
.minerKaschLogo {
    padding-bottom: 30px;
  }
.coeitLogo {
  max-width: 200px;
  }
.whitingLogo {
  max-width: 150px;
}
.wolframLogo {
  max-width: 180px;
}
.alexBrownLogo {
  max-width: 130px;
}
.ltsLogo {
  max-width: 160px;
}
.intelliforceLogo {
  max-width: 250px;
}
.lyftLogo {
  max-width: 170px;
}
@media only screen and (min-width: 800px) {
  .northropPos {
    display: block;

    left: 250px;
    width: 50%;
  }
  .lyftPos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    top: 20px;
    right: 40px;
  }
  .cseePos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    left: 45px;
  }
  .coeitPos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    top: 20px;
    right: 50px;
  }
  .alexBrownPos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    left: 40px;
    top: 10px;
  }
  .generalPos {
    bottom: 30px;
  }
  .stickermulePos{
    bottom: 30px;
  }
  .cipherPos{
    top: 20px;
  }
  .jetbrainsPos{
    bottom: 20px;
  }
  .wellerPos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
  }
  .nsaPos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    bottom: 25px;
    right: 60px;
  }
  .freedomPos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    top: 30px;
    right: 60px;
  }
  .ltsPos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    bottom: 40px;
    left: 60px;
  }
  .boozallenPos {
    left: 220px;
    top: 15px;
  }
  .TRowePos {
    left: -50px;
  }
  .leidosPos {
    left: 20px;
    bottom: 30px;
  }
  .jpMorgonPos {
    top: 40px;
  }

  .minerKaschLogo {
    max-width: 250px;
  }
  .intelliforcePos {
  bottom: 80px;
  left: 180px;
  }
  .twoRow {
    left: 100px;
  }
  .twoRowWolfram {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    left: 60px;
    bottom: 35px;
  }

}
@media only screen and (max-width: 800px) {
  .TRoweLogo {
    max-width: 300px !important;
  }
  .lyftLogo {
    max-width: 140px !important;
  }
  .BoozLogo {
    max-width: 330px !important;
  }
  .northropLogo{
    max-width: 250px !important;
  }
  .lyftPos{
    padding-top: 15px;
  }
  .aplPos{
    margin-top: 30px;
  }
  .gitPos{
    margin-top: 30px;
  }
}
