@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900");
@import url("linkStyles.css");
@import url("navbar.css");
@import url("button.css");
@import url("about.css");
@import url("faq.css");
@import url("sponsor.css");
@import url("footer.css");

body,
html {
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

/*volunteerign mentorship message*/
.vol_ment_msg {
  color: white;
}
@media only screen and (min-width: 800px) {
  .vol_ment_msg {
    margin-left: 190px;
  }
}


/*This is for main background*/
.parallax {
  /* prevent clouds from expanding screen width */
  overflow: hidden;
  /* The image used */
  /*linear-gradient(#544178, #d95115ce),*/
  background-image: url("../img/hackumbc-bg2020.png");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax a:hover {
  text-decoration: none;
}

.parallax h1 sup {
  font-size: 0.65em;
}

#clouds {
  position: relative;
}

#cloudno1 {
  /* The image used */
  /*linear-gradient(#544178, #d95115ce),*/
  background-image: url("../img/assets/img/clouds/SVG/Asset1.svg");
  /* Full height */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: left 10% top 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

#cloud1 {
  position: absolute;
  width: 35%;
  height: 57%;
  z-index: 1;
  animation: move_cloud1 80s infinite linear;
}

@keyframes move_cloud1 {
  0% {opacity: 0; left: 0%;}
  3% {opacity: 1;left: 5%;}
  100% {opacity: 1;left: 100%;}
}

#cloud2 {
  position: absolute;
  width: 40%;
  height: 50%;
  left: 5%;
  bottom: -3%;
  animation: move_cloud2 40s infinite linear;
}

@keyframes move_cloud2 {
  0% {opacity: 0; left: 5%;}
  2% {opacity: 1;left: 8%;}
  100% {opacity: 1;left: 100%;}
}

#cloud3 {
  position: absolute;
  width: 36%;
  height: 46%;
  left: 30%;
  bottom: 25%;
  animation: move_cloud3 70s infinite linear;
}

@keyframes move_cloud3 {
  0% {opacity: 0;left: 30%;}
  3% {opacity: 1;left: 35%;}
  100% {opacity: 1;left: 100%;}
}

#cloud4 {
  position: absolute;
  width: 20%;
  height: 30%;
  left: 30%;
  bottom: 33%;
  animation: move_cloud4 65s infinite linear; 
}

@keyframes move_cloud4 {
  0% {opacity: 0;left: 30%;}
  8% {opacity: 1;left: 35%;}
  100% {opacity: 1;left: 100%;}
}

#cloud5 {
  position: absolute;
  width: 40%;
  height: 30%;
  left: 25%;
  bottom: 10%;
  animation: move_cloud5 80s infinite linear; 
}

@keyframes move_cloud5 {
  0% {opacity: 0;left: 25%;}
  3% {opacity: 1;left: 30%;}
  100% {opacity: 1;left: 100%;}
}
#cloud6 {
  position: absolute;
  width: 40%;
  height: 30%;
  left: 60%;
  top: 10%;
  animation: move_cloud6 100s infinite linear; 
}

@keyframes move_cloud6 {
  0% {opacity: 0;left: 60%;}
  3% {opacity: 1;left: 65%;}
  100% {opacity: 1;left: 100%;}
}

#cloud7 {
  position: absolute;
  width: 40%;
  height: 30%;
  left: 60%;
  top: 25%;
  animation: move_cloud7 100s infinite linear; 
}

@keyframes move_cloud7 {
  0% {opacity: 0;left: -30%;}
  3% {opacity: 1;left: -25%;}
  100% {opacity: 1;left: 100%;}
}

#cloud8 {
  position: absolute;
  width: 40%;
  height: 35%;
  left: -40%;
  top: 45%;
  opacity: .4;
  animation: move_cloud8 103s infinite linear; 
}

@keyframes move_cloud8 {
  0% {opacity: 0;left: -40%;}
  3% {opacity: 1;left: -35%;}
  100% {opacity: 1;left: 100%;}
}

#cloud9 {
  position: absolute;
  width: 30%;
  height: 20%;
  left: -40%;
  top: 60%;
  opacity: .9;
  animation: move_cloud9 94s infinite linear; 
}

@keyframes move_cloud9 {
  0% {opacity: 0;left: -50%;}
  3% {opacity: 1;left: -45%;}
  100% {opacity: 1;left: 100%;}
}

#text-logo {
  z-index: 11;
}



@media only screen and (max-width: 800px) {
  .parallax {
  /* Webkit (Safari/Chrome 10) */
  /*-webkit-gradient(linear, bottom, top, color-stop(45, #544178), color-stop(100, #d95115ce))*/
background-image: , url("../img/hackumbc-bg2020.png");

  /*linear-gradient(top, #544178 45%, #d95115ce 100%),*/
  background-image: url("../img/hackumbc-bg2020.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;

  }
}

.tile-bg {
  background-image: url("../img/tile-bg.svg");
  background-repeat: repeat;
}

/*Wrapper for entire webpage*/
.wrapper {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /*  3 */
  padding-left: 10px; /* 3 */
}

.valign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /*align-items: center;*/
}

.buttonBox {
    margin: 0 auto !important;
}


.content {
  margin-top: 50px;
  padding-left: 40px;
}


/*MLH Banner*/

.mlh-trust-badge {
  z-index: 100000;
  position: fixed;
  /*margin-top: 76px;*/
  /*margin-top: 70px;*/
  right: 10px;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  top: 0px;
  transition: top 0.3s ease 0s;
  transition: ease .3s;
}

@media only screen and (min-width: 800px) {
  .mlh-trust-badge {
    opacity: 1;
  }
  
}

@media only screen and (max-width: 800px) {
  .mlh-trust-badge {
    z-index: 1 !important;
    margin-top: 76px;
  }
  
}

.bracket-color {
  color: orange;
  font-weight: bold;
}

@keyframes minus {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}

/* *****************************************************
Typography
***************************************************** */
.section-header {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
}
.section-header-gray {
  color: #404040;
  font-weight: 900;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
}
.section-footer {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
}

/*Prevent Highlighting*/
::selection {
  text-shadow: none;
  background: linear-gradient(180deg, #19374d, #BE4248 60%, #FFF);
}
