/*
about page
*/

/*This is for about section */
.about-background {
  /*background-image: url("../img/HackUMBC.LightBlue.Pattern.jpg");*/
  background-image: linear-gradient(#639bf1ce, #639bf1ce),
    url("../img/tile-bg@2x.png");
  /*background-color: #639BF1;*/
  margin: 0 auto;
  min-height: 40%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-background .content {
  color: white;
}

.about-background p {
  font-size: 1.5em;
  line-height: 40px;
}

/* slide animation for text */
.slideanim {
  visibility: hidden;
}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

/*
Live Site stuff
*/

table {
    border-collapse: collapse;
    width: 100%;
}
.hackerTable {
  width: 400px !important;
}
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#93bbf9;}

@media only screen and (max-width: 800px) {
  table {
    width: 70%;
  }
  .hackerTable {
    width: 100px !important;
  }
}

