/* ===========================================================
colors
=============================================================*/

.gradient{
  color: linear-gradient(#544178, #D95115);
}

.gradient-transparent{
  color: linear-gradient(#544178, #D95115ce);
}

.light-blue{
 color: #639BF1;
}

.light-grey{
 color: #E5E1DF;
}

.purple{
  color: #544178;
}

.orange{
  color: #D95115;
}

/* ===========================================================
bg-colors
=============================================================*/

.gradient-bg{
  background-color: linear-gradient(#544178, #D95115);
}

.gradient-transparent-bg{
  background-color: linear-gradient(#544178, #D95115ce);
}

.light-blue-bg{
 background-color: #639BF1;
}

.light-grey-bg{
 background-color: #E5E1DF;
}

.purple-bg{
  background-color: #544178;
}

.orange-bg{
  background-color: #D95115;
}
