/*This is for sponsors background*/
.sponsors-background {
  /*background-image: url("../img/HackUMBC.White.Pattern.png");*/
  /*background-color: white;*/
  background-image: linear-gradient(#ffffffce, #ffffffce),
    url("../img/tile-bg@2x.png");
  margin: 0 auto;
  min-height: 40%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.sponsors {
  text-align: left;
  margin: 20px 0;
}

.sponsors-background p {
  font-size: 1.5em;
  line-height: 40px;
  color: #404040;
}
/*Hovering animations*/
.col-sm-4 {
  transition: ease .3s;
  text-align: center !important;
}
.col-sm-4:hover {
  opacity: .8;
  transition: ease .3s;
}
.col-sm-7 {
  transition: ease .3s;
}
.col-sm-7:hover {
  opacity: .8;
  transition: ease .3s;
}
.col-sm-5 {
  transition: ease .3s;
}
.col-sm-5:hover {
  opacity: .8;
  transition: ease .3s;
}
.cl-effect-3 {
  text-align: center;
}
/*Sponsor Logo specifications*/
.TRoweLogo {
    max-width: 500px !important;
  }
.portLogo {
    max-width: 240px !important;
  }
.BoozLogo {
  max-width: 330px !important;
}
.leidosLogo {
    left: 10px;
    max-width: 330px !important; 
  }
.wellerLogo {
  max-width: 170px !important;
}
.nsaLogo {
    max-width: 400px !important;
  }
.clearLogo {
  max-width: 270px !important;
}
.aplLogo {
  max-width: 270px !important;
}
.freedomLogo {
  max-width: 270px !important;
}
.jpMorganLogo {
  max-width: 300px !important;
}
.minerKaschLogo {
    padding-top: 10px !important;
    padding-bottom: 30px !important;
  }
.coeitLogo {
  max-width: 200px !important;
}
.mlhLogo {
  max-width: 200px !important;
}
.jetLogo {
  max-width: 200px !important;
}
.muleLogo {
  max-width: 200px !important;
}
.whitingLogo {
  max-width: 150px !important;
}
.wolframLogo {
  max-width: 240px !important;
}
.alexBrownLogo {
  max-width: 120px !important;
}
.ltsLogo {
  max-width: 180px !important;
}
.intelliforceLogo {
  max-width: 250px; 
}
@media only screen and (min-width: 800px) {
  .TRowePos {
    left: 240px !important;
  }
  .leidosPos {
    left: 20px !important;
  }
  .jpMorgonPos {
    top: 40px !important;
  }
  .cseeLogo {
    max-width: 200px !important;
  }
  .coeitPos {
    top: 20px !important;
  }
  .minerKaschLogo {
    max-width: 300px !important;
  }
  .intelliforcePos {
  bottom: 80px !important;
  left: 20px !important;
  }
  .twoRow {
    left: 100px !important;
  }
  .twoRowWolfram {
    left: 200px !important;
  }

}
@media only screen and (max-width: 800px) {
  .TRoweLogo {
    max-width: 300px !important;
  }
  .minerKaschLogo {
    max-width: 300px !important;
  }
  .githubLogo {
    max-width: 300px !important;
  }
  .intelliforceLogo {
    max-width: 300px !important;
  }
  .leidosLogo {
    max-width: 300px !important;
  }
}