.about{
    padding-top: 50px;
    color: var(--lilac-purple);
    width: 100vw;
    display: flex;
    background-image: url("../assets/green-clear.jpg");
    /* Center and scale the image nicely */
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-bottom: 5vh;
    align-items: center;
    justify-content: center;

}

.glass-container {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(250, 250, 250, 0.25);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 1.25vh;
}
.about-content{
    /* background: red; */
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: yellow; */
}

.about-text{
    /* background-color: red; */
    font-size: 23px;
    font-weight: 500;
    margin-top: 5vh;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 10vh;
    width: 100vh;
}

.about-text p{
    margin-bottom: 15px;
    line-height: 30px;
}

.tracks-title{
    margin-bottom: .2vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.tracks-title hr{
    width: 100%;
    height: 3px;
    background-color: var(--lilac-purple);
    border: 0;
}

.tracks-title h2{
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin: 0 30px;
}

.tracks-content{
    /* background-color: blue; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 60px;
}

.track{
    /* background-color: rgb(26, 118, 194); */
    padding: 10px 20px;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(250, 250, 250, 0.25);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(2px);
    cursor:default;
}

.track-image{
    width: 150px;
    height: auto;
}

.track-title{
    font-size: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 900;
}

.track-text{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
}

@media screen and (max-width: 900px){
    .about{
        height: 2000px;
    }
    .about-content{
        /* background: red; */
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: yellow; */
    }
    
    .about-text{
        /* background-color: red; */
        font-size: 23px;
        font-weight: 500;
        margin: 5vh;
        width: 28vh;
        padding-left: 0px;
    }
    .tracks-content{
        grid-template-columns: repeat(1, 1fr);
    }

    .track{
        width: 80vw;
    }

    .track-image{
        width: 150px;
    }

    .track-title{
        font-size: 16px;
    }

    .track-text{
        font-size: 15px;
        font-weight: 400;
    }

}