.faq{
    /* background-color: red; */
    background-image: url("../assets/light_blue_new.jpg");

    /* Center and scale the image nicely */
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 280%;
    display: flex;
    padding-bottom: 5vh;
    align-items: center;
    justify-content: center;
}
.faq-content{
    /* background: red; */
    margin-top: 5.5%;
    width: 90vw;
    padding-left: 30px;
    padding-top: 15px;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: yellow; */
    background: rgba(250, 250, 250, 0.25);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
}

.questions{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.questions div{
    margin-bottom: 44px;
}

/* Question.js css */

/* general answer styling */
.question-details{
    font-size: 21px;
    font-weight: 600;
    transition: all 0.5s ease;
    max-height: 50px;
    overflow: hidden;
    display: inline;
}

/* answer styling when open */
.question-details[open]{
    max-height: 290px;
}

.question-details[open] p{
    margin-left: 30px;
    line-height: 1.7;
}

/* actual question title */
.question-details summary{
    font-size: 30px;
    font-weight: 1000;
    cursor: pointer;
    /* background-color: red; */
    /* display: flex; */
}

/* question title styling when open */
.question-details[open] summary{
    padding-bottom: 10px;
}

.question-details:hover{
    color:#669BBC;
}

.question-details[open]:hover{
    color: var(--lilac-purple);
}

#coc-link{
    color: rgb(255, 187, 219);
}


@media screen and (max-width: 900px){
    .faq-content{
        margin-top: 20%;
    }
    .question-details summary{
        font-size: 26px;
    }
    
    .question-details{
        max-height: 100px;
        font-size: 13px;
    }

    .question-details[open]{
        max-height: 300px;
    }
}