.privacy-page{
    background-color: #ffffff;
    color: black;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    text-align: center; /* Center-align all text in the body */

    
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; /* Center-align all text in the body */

}
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: center; /* Center-align all text in the body */

}

ul {
    list-style: none;
}

img {
    width: 100px;
    height: auto;
    margin: 20px auto;
}