.hide {
    display: none;
  }

.schedule{
    padding-top: 100px;
    color: var(--lilac-purple);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.schedule-content{
    /* background: red; */
    /* max-width: 940px; */
    display: flex;
    flex-direction: row;
    /* background-color: yellow; */
}

.leftPane{
    /* background: red; */
    width: 50%;
    /* max-width: 940px; */
    align-items: center;
    /* background-color: yellow; */
    padding-top: 2px;
}

.rightPane{
    /* background: red; */
    padding-top: 45px;
    width: 50%;
    /* max-width: 940px; */
    align-items: center;
    /* background-color: yellow; */
}

.schedule-container{
    width: 47vw;
    padding-top: 60px;
}


.date{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.schedule-title{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    size: 1vw;
}

.schedule-title hr{
    width: 13vw;
    height: 3px;
    background-color: var(--lilac-purple);
    border: 0;
}

.schedule-title h2{
    width: 10vw;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin: 0 30px;
}

.schedule-details{
    /* display: none; */
    width: 25vw;
    text-align: center;
    font-size: 15px;
    margin: auto;
    margin-bottom: -15px;
}
