.sponsors{
    /* background-color: red; */
    background-image: url("../assets/green-clear.jpg");
    /* Center and scale the image nicely */
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 160vh;
    display: flex;
    padding-bottom: 5vh;
    align-items: center;
    justify-content: center;
}

.sponsor-page-blur{
    background: rgba(250, 250, 250, 0.25);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.sponsors-content{
    /* background-color: blue; */
    width: 90vw;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%
}

.sponsor-section-title{
    margin-bottom: 50px;
    margin-top: 10px;

    text-align: center;
    /* background-color: blue; */
}

.sponsor-rank{
    width: 100%;
    height: fit-content;
    /* background-color: red; */
}

.rank{
    display: flex;
    /* background-color: red; */
    width: 100%;
    align-items: center;
}

.rank-title{
    color:white;
    font-size: 27px;
}

.rank-divider{
    height: 2px;
    width: 100%;
    background-color: var(--dog-gray);
    color: var(--dog-gray);
    border: 0;
    margin: 0 20px;
}

.sponsor-logos{
    /* background-color: green; */
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.logo-for-sponsor{
    margin: 15px;
    height: fit-content;
    width: fit-content;
    max-width: 180px;
    max-height: 150px;
    /* height: auto */
}

.sponsor-us{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
}
.sponsor-us-link{
    color:#89c2e6;
    margin-top: 24px;
    margin-bottom: 10px;
    font-size: 22x;
    font-weight: 500;
}

@media screen and (max-width: 900px){
    .sponsors{
        height: 200%;
    }
    .sponsors-content{
        margin-top: 5%;
    }
    .sponsor-page-blur {
        margin-top: 20%
    }

    .logo-for-sponsor{
        max-width: 200px;
        height: auto;
    }
}